<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Import CSS Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- Import custom CSS -->
        <link rel="stylesheet" type="text/css" href="/css/style-blogs.css">

        <title>Demo</title>
    </head>
 
    <body>
        <main class="mb-5">
            <div class="mainTitle text-center p-4"> <a href="/blogs"><i class="fas fa-home"></i></a> Démo - Nuée de billes </div>
            <div class="mainContainer flex-column flex-md-row pt-5">
                <div class="canvasContainer">
                    <!--<canvas id="color" width="400" height="400"></canvas>-->
                    <canvas id="grey" width="400" height="400" moz-opaque></canvas>
                    <canvas id="curve" width="400" height="200" style="height: 200px;" moz-opaque></canvas>
                </div>
                <div class="slideContainer col col-md-3">
                    <span> Vitesse <span class="displayValue" id="dv1">(5)</span></span>
                    <input type="range" min="0" max="100" value="5" class="slider mt-2 mb-4" id="speedSlide">
                    <span> Fréquence <span class="displayValue" id="dv2">(3)</span></span>
                    <input type="range" min="1" max="20" value="3" class="slider mt-2 mb-4" id="freqSlide">
                    <span> Octaves <span class="displayValue" id="dv3">(1)</span></span>
                    <input type="range" min="1" max="10" value="1" class="slider mt-2 mb-4" id="octSlide">
                    <span> Nombre de billes <span class="displayValue" id="dv4">(100)</span></span>
                    <input type="range" min="1" max="300" value="100" class="slider mt-2 mb-4" id="ballsSlide">

                    <div class="text-center">
                        <button class="reset btn btn-primary mt-3">Réinitialiser</button>
                    </div>
                </div>
            </div>
            

        </main>
    </body>

    <!-- Import JS Bootstrap dependencies -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/kchapelier/poisson-disk-sampling@2.2.2/build/poisson-disk-sampling.min.js"></script>
    <script type="module" src="/modules/marbles.js"></script>

    <!-- Import Font Awesome -->
    <script src="https://kit.fontawesome.com/5f21f19d3f.js"></script>

</html>