<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <!-- favicon -->
        <!--<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
        <link rel="manifest" href="/favicon/site.webmanifest">-->
        
        <!-- Import CSS Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Import custom CSS -->
        <link rel="stylesheet" type="text/css" href="/css/style-music.css">
        <link rel="stylesheet" type="text/css" href="/css/style-navbar.css">

        <title>Quiet Kid - Armel Rouxel</title>
    </head>
 
    <body>
        <header>
        </header>
        <main>
            <div class="background demo"></div>
            <a href="/music" class="link-tab"> < Page principale</a>
            <div class="header container">
                <div class="row align-items-center h-100">
                    <div class="container">
                        <div class="row justify-content-center">
                            <span class="head-title text-center" style="color:white;">Démos et brouillons</span>
                        </div> 
                        <!--<div class="row justify-content-center">
                            <span class="head-subtitle">Juin 2022</span>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row m-0">
                    <div class="col-md-5 p-0">
                        <img class="d-block w-100" src="/img/demo/cover-heartbeat.png">
                    </div>
                    <div class="album-desc bright col-md-7 pl-md-5 p-0 mt-4 mt-md-0">
                        <div class="row m-0">
                            <span class="title">Conception</span>
                        </div>
                        <div class="album-about row m-0 pt-2">
                            <p>
                                Mon actuel 3ème album est déjà fini sous forme de maquette avec en verité une qualité sonore comparable à mon précédant: Quiet Kid. Toutefois, j'aimerai peut-être pousser un peu plus les efforts en terme de mixage et mastering (peut-être voir un professionel ?), refaire les pistes de basses avec une ... vraie basse et notamment me doter d'un batteur afin de me passer de sample pour les rythmiques. On pourrait aussi trouver un chanteur si jamais :)
                            </p>
                            <p>
                                En terme de son, j'ai essayer de prendre le meilleur de mes 2 albums: à savoir le son electronique sombre de Reach That Light et le Rock brute et puissant de Quiet Kid pour obtenir le style de musique qui me sied réellement. En découle un album plus porté sur les sons de clavier (bien que largement poussé par la guitare) mélengeant les violents sons electro-rock de "Trauma" et "Pulse", les balades piano mélodique de "Something Beautiful" et bien sûr la pièce centrale progressive en 3 actes "Feel My Heartbeat".
                            </p>
                            <p>
                                Contrairement à mes deux précédants albums, il n'y a pas de narration ni de vrai thématique lié à l'album. Toutefois, je peux dire que toutes les paroles portent généralement sur les sentiments, quels que soient leur forme, et les musiques prennent parfois une forme très personnel en terme de ressenti, bien que pas forcément autobiographique.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row m-0 mt-4">
                    <div class="p-0">
                        <div class="row m-0 pb-3">
                            <span class="title">Écouter l'album</span>
                        </div>
                        <span class="making-of mt-2">
                            <div class="audio-embed mb-2">
                                <audio controls src="/audio/feel_my_heart_beat/1 - The Start Of Something Beautiful.mp3">
                                    Your browser does not support the <code>audio</code> element.
                                </audio>
                                <span class="ml-2">The Start Of Something Beautiful</span>
                            </div>
                            <div class="audio-embed mb-2">
                                <audio controls src="/audio/feel_my_heart_beat/2 - Trauma.mp3">
                                    Your browser does not support the <code>audio</code> element.
                                </audio>
                                <span class="ml-2">Trauma</span>
                            </div>
                            <div class="audio-embed mb-2">
                                <audio controls src="/audio/feel_my_heart_beat/3 - Radiance ! Pulse.mp3">
                                    Your browser does not support the <code>audio</code> element.
                                </audio>
                                <span class="ml-2">Radiance / Pulse</span>
                            </div>
                            <div class="audio-embed mb-2">
                                <audio controls src="/audio/feel_my_heart_beat/4 - The Light (Is Everywhere).mp3">
                                    Your browser does not support the <code>audio</code> element.
                                </audio>
                                <span class="ml-2">The Light (Is Everywhere)</span>
                            </div>
                            <div class="audio-embed mb-2">
                                <audio controls src="/audio/feel_my_heart_beat/5 - Feel My Heart Beat, Pt. 1 (We Are One).mp3">
                                    Your browser does not support the <code>audio</code> element.
                                </audio>
                                <span class="ml-2">Feel My Heart Beat, Pt.1 (We Are One)</span>
                            </div>
                            <div class="audio-embed mb-2">
                                <audio controls src="/audio/feel_my_heart_beat/6 - Feel My Heart Beat, Pt. 2 (Unrequited Love).mp3">
                                    Your browser does not support the <code>audio</code> element.
                                </audio>
                                <span class="ml-2">Feel My Heart Beat, Pt.2 (Unrequited Love)</span>
                            </div>
                            <div class="audio-embed mb-2">
                                <audio controls src="/audio/feel_my_heart_beat/7 - Feel My Heart Beat, Pt. 3 (No Reason).mp3">
                                    Your browser does not support the <code>audio</code> element.
                                </audio>
                                <span class="ml-2">Feel My Heart Beat, Pt.3 (No Reason)</span>
                            </div>
                            <div class="audio-embed mb-2">
                                <audio controls src="/audio/feel_my_heart_beat/8 - All Is Bright.mp3">
                                    Your browser does not support the <code>audio</code> element.
                                </audio>
                                <span class="ml-2">All Is Bright</span>
                            </div>
                            <div class="audio-embed mb-2">
                                <audio controls src="/audio/feel_my_heart_beat/9 - Hole In Me.mp3">
                                    Your browser does not support the <code>audio</code> element.
                                </audio>
                                <span class="ml-2">Hole In Me</span>
                            </div>
                            <div class="audio-embed mb-2">
                                <audio controls src="/audio/feel_my_heart_beat/10 - My Last Regrets.mp3">
                                    Your browser does not support the <code>audio</code> element.
                                </audio>
                                <span class="ml-2">My Last Regrets</span>
                            </div>
                        </span>
                    </div>

                    <div class="col-md-4 p-0 ml-md-5 mt-5">
                        <img class="d-block w-100" src="/img/demo/tracklist.png">
                    </div>
                </div>
            </div>
            </div>
            <!--<div class="container mt-4">
                <div class="row m-0">
                    <div class="track-desc col">
                        <div class="row m-0">
                            <span class="track-title"> Part Of Me</span>
                        </div>
                        <div class="track-about row m-0 pt-2">
                            <p>
                                Le riff initial était une idée que j'avais eu bien avant la sortie de "Reach That Light", mais je l'avais gardé de côté n'ayant pas vraiment eu l'occasion de l'utiliser jusque là. <br/>L'ambience voulu du morceau est à la fois un mix entre "Wedding Nails" (Porcupine Tree) pour le riff et "Citizen Erased" (Muse) pour la structure principale.
                            </p>
                            <p>
                                Les paroles traitent du dédoublement de personnalité, ou plutôt de l'alter ego refoulé par le personnage principal. Ça peut également être vu comme une simple introspection de soi même
                            </p>
                        </div>
                    </div>
                </div>
            </div>-->
            <div class="footer"></div>
        </main>
    </body>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Import Font Awesome -->
    <script src="https://kit.fontawesome.com/5f21f19d3f.js"></script>

    <script type="text/javascript">
        // On gère les carousels
        $('div[data-target="#galleryModal"]').on('click', function (data) {
            $(`#carouselGallery .carousel-item`).removeClass('active');
            let i = parseInt($(data.currentTarget).attr('data-i'));
            console.log(`#carouselGallery .carousel-item:nth-child(${i+1})`);
            $(`#carouselGallery .carousel-item:nth-child(${i+1})`).addClass('active');
        })
    </script>
</html>