<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <!-- favicon -->
        <!--<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
        <link rel="manifest" href="/favicon/site.webmanifest">-->
        
        <!-- Import CSS Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Import custom CSS -->
        <link rel="stylesheet" type="text/css" href="/css/style-new_music.css">
        <link rel="stylesheet" type="text/css" href="/css/style-navbar.css">

        <title>Armel Rouxel</title>
    </head>
 
    <body>
        <header>
        </header>
        <main>
            <div class="background"></div>

            <div class="page-content container" id="main">
                <div class="grid-content">
                    <div class="col-md-5 col-8 player-content p-2">
                        <img class="d-block w-100 shadow rounded" src="/img/you_beautiful_sleeper/cover.png">
                        <div class="player-backdrop rounded">
                            <i class="fas fa-play"></i>
                            <!-- <span class="mt-4">Écouter</span> -->
                        </div>
                    </div>    
                    <div class="col-md-5 mt-3 title"> You Beautiful Sleeper </div>              
                </div>
                <a class="arrow-down" href="#tracklist"><i class="fas fa-caret-down"></i></a>
            </div>

            <div class="page-content container" id="tracklist">
                <div class="grid-content">   
                    <a class="col track-title rounded" tabindex="0" href="#mobileTrackInfos"> Aimless Dream </a>  
                    <a class="col track-title rounded" tabindex="1" href="#mobileTrackInfos"> The Back of the Blade </a> 
                    <a class="col track-title rounded" tabindex="2" href="#mobileTrackInfos"> A Few Years Late </a> 
                    <a class="col track-title rounded" tabindex="3" href="#mobileTrackInfos"> Something About You </a> 
                    <a class="col track-title rounded" tabindex="4" href="#mobileTrackInfos"> Memories </a> 
                    <a class="col track-title rounded" tabindex="5" href="#mobileTrackInfos"> The Fever </a> 
                    <a class="col track-title rounded" tabindex="6" href="#mobileTrackInfos"> Here Before </a> 
                    <a class="col track-title rounded" tabindex="7" href="#mobileTrackInfos"> So, It Came to This ? </a> 
                    <a class="col track-title rounded" tabindex="8" href="#mobileTrackInfos"> In My Blood </a> 
                    <a class="col track-title rounded" tabindex="9" href="#mobileTrackInfos"> Maniac </a> 
                    <a class="col track-title rounded" tabindex="10" href="#mobileTrackInfos"> A Little More </a> 
                    <a class="col track-title rounded" tabindex="11" href="#mobileTrackInfos"> The Sum of All </a>             
                </div>

                <!-- PC only, voir le cadre du dessous pour la version mobile (j'ai du faire un clone pour simplifier la mise en page) -->
                <div class="grid-content d-none d-md-block">   
                    <div class="col track-description">
                        <div class="col-5 player-content p-2 ml-3">
                            <img class="d-block w-100 shadow rounded" src="/img/you_beautiful_sleeper/cover.png">
                            <div class="player-backdrop rounded">
                                <i class="fas fa-headphones-alt"></i>
                            </div>
                        </div>  
                        <div class="col text-content p-2 ml-3">
                            <span class="title highlight mb-2"></span>
                            <span class="credit"></span>
                            <div class="text-center">
                                <span class="px-3 btn-track" tabindex="0"><i class="fas fa-quote-right"></i> Paroles</span>
                                <span class="px-3 btn-track" tabindex="1"><i class="fas fa-question"></i> Conception</span>
                            </div>
                        </div> 
                        <a class="arrow-left"><i class="fas fa-caret-left"></i></a>
                        <a class="arrow-right"><i class="fas fa-caret-right"></i></a>
                    </div>

                    <div class="col ml-4 mt-3 track-infos collapsed">
                        <div class="text-content">
                            <span tabindex="0"></span>
                            <span tabindex="1">[Work in progress ...]</span>
                        </div>
                    </div>             
                </div>
                <a class="arrow-up" href="#main"><i class="fas fa-caret-up"></i></a>
                <a class="arrow-down d-md-none d-block" href="#mobileTrackInfos"><i class="fas fa-caret-down"></i></a>
            </div>

            <!-- Mobile only, clone du cadre PC ci-dessus, avec son propre page-content -->
            <div class="page-content container d-flex d-md-none" id="mobileTrackInfos">
                <div class="grid-content">   
                    <div class="col track-description flex-column align-items-center">
                        <div class="track-img mb-2">
                            <img class="d-block shadow rounded" src="/img/you_beautiful_sleeper/cover.png">
                        </div>  
                        <div class="col text-content text-center">
                            <span class="title highlight my-2"></span>
                            <span class="credit"></span>
                            <div class="text-center mt-3">
                                <span class="px-3 btn-track" tabindex="0"><i class="fas fa-quote-right"></i> Paroles</span>
                                <span class="px-3 btn-track" tabindex="1"><i class="fas fa-question"></i> Conception</span>
                            </div>
                        </div> 
                        <a class="arrow-left"><i class="fas fa-caret-left"></i></a>
                        <a class="arrow-right"><i class="fas fa-caret-right"></i></a>
                    </div>

                    <div class="col mt-4 ml-4 track-infos collapsed">
                        <div class="text-content">
                            <span tabindex="0"></span>
                            <span tabindex="1">[Work in progress ...]</span>
                        </div>
                    </div>             
                </div>
                <a class="arrow-up" href="#tracklist"><i class="fas fa-caret-up"></i></a>
            </div>
        </main>
    </body>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Import Font Awesome -->
    <script src="https://kit.fontawesome.com/5f21f19d3f.js"></script>

    <!-- <script type="module" src="/module/sleeper_db.js"></script> -->
    <script type="text/javascript">

        // Met à jour les informations de la page selon la musiques à afficher
        function changeTrackInfos(index) {
            // On change le focus sur la tracklist
            $('.track-title').removeClass('active');
            $(`.track-title[tabindex=${index}]`).addClass('active');

            // On remplace les infos sur le cadre d'info
            let data = trackInfo[index];
            $('.track-description .title').html(data['name']);
            $('.track-description .credit').html(data['credit']);
            $('.track-infos span:nth-child(1)').html(data['lyrics']);
            $('.track-infos span:nth-child(2)').html(data['infos']);
            $('.track-description img').attr('src', `/img/you_beautiful_sleeper/${data['cover']}`) 
        }

        // Charge les infos de la base de données, et on en affiche une par défaut
        let trackInfo;
        $.getJSON('/json/sleeper_db.json', function(data) {
            trackInfo = data;
            changeTrackInfos(0);
        });

        // Change les infos lorsque l'on clique sur une des musiques de la liste
        $('.track-title').on('click', function() {
            $('.grid-content').removeClass('collapsed');
            changeTrackInfos(parseInt($(this).attr('tabindex')));
        });

        // Change les infos via les boutons gauche/droite
        $('.track-description .arrow-left').on('click', function() {
            let index = parseInt($('.track-title.active').attr('tabindex')) - 1;
            changeTrackInfos(index < 0 ? 11 : index);
        });
        $('.track-description .arrow-right').on('click', function() {
            let index = parseInt($('.track-title.active').attr('tabindex')) + 1;
            changeTrackInfos(index > 11 ? 0 : index);
        });

        // Change les onglets paroles / notes
        $('.btn-track').on('click', function() {
            // Initialisation des variables
            let targetIndex        = parseInt($(this).attr('tabindex'));
            let activeIndexButton  = $('.btn-track.active').attr('tabindex');
            let activeIndexContent = $('.track-infos span.active').attr('tabindex');

            // Valeur par défaut des cadres
            $('.btn-track').removeClass('active');
            $('.track-infos span').removeClass('active');
            $(`.track-infos span[tabindex="${targetIndex}"]`).addClass('active');
            $('.track-img').addClass('collapsed');

            // Affichage des boutons/cadres
            if (!activeIndexButton) {$(this).addClass('active')}
            if ($('.track-infos').hasClass('collapsed')) {
                $('.track-infos').removeClass('collapsed');
            }
            else if (targetIndex == activeIndexButton) {
                $('.track-infos').addClass('collapsed')
                $('.track-img').removeClass('collapsed');
            }
            else {$(`.btn-track[tabindex="${targetIndex}"]`).addClass('active')}
        })
    </script>
</html>